[Unit]
Description=copy snippets to and from trello
After=network.target

[Service]
Type=simple
ExecStart=/home/yourusername/trellocopy/shortcuts.py
WorkingDirectory=/home/yourusername/trellocopy
User=yourusername
Group=yourusername
Restart=on-failure
SyslogIdentifier=trellocopy
RestartSec=5
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
